@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* attempt to modify caret size */
.custom-arrow .collapse-title::before {
	font-size: 4rem; /* Adjust as needed */
}

:root,
[data-amplify-theme] {
	--amplify-colors-background-primary: #080a0b;
	--amplify-components-field-label-color: #efefef;
	--amplify-components-button-primary-background-color: #74b7ef;
	--amplify-components-button-primary-color: #213445;
	--amplify-components-button-primary-hover-background-color: #4a6277;
	--amplify-components-button-link-color: #efefef;
	--amplify-components-button-link-hover-color: #74b7ef;
	--amplify-components-button-link-hover-background-color: #213445;
	--amplify-components-heading-color: #efefef;
	--amplify-components-input-color: #efefef;
	--amplify-components-radio-label-color: #efefef;
}

@layer base {
	:root{
		--hackrpi-font: 'Turret Road', sans-serif;
        --theme-bg: #121212;
        --theme-text: #e9bc59;
        --theme-accent: #d5345d;
        --theme-secondary: #e39036;
	}
	html[data-theme=retro] {
        --theme-bg: #121212;
        --theme-text: #e9bc59;
        --theme-accent: #d5345d;
        --theme-secondary: #e39036;
	}
	html[data-theme=modern] {
        --theme-bg: #ffffff;
        --theme-text: #333333;
        --theme-accent: #3b82f6;
        --theme-secondary: #10b981;
	}
}

/* themed components that use the theme variables */
/* add these to apply theme styles to any specific components in the website*/
@layer components {
  .theme-accent {
    @apply text-theme-accent;
  }

  .theme-button {
    @apply bg-theme-accent text-theme-bg hover:bg-theme-secondary transition-colors;
  }
  .theme-bg {
    @apply bg-theme-bg;
  }
  
  .theme-text {
    @apply text-theme-text;
  }
}